<launch>
    <arg name="bag_file" default="$(find icp_lidar_ceres_ros)/example/2d_lidars_scan.bag"/>
    <arg name="open_rviz" default="true"/>

    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find icp_lidar_ceres_ros)/rviz/icp_lidar.rviz"/>
    <node pkg="rosbag" type="play" name="player" args="-l $(arg bag_file)"/>
    <node pkg="icp_lidar_ceres_ros" type="icp_lidar_ceres" name="icp_lidar_ceres" output="screen"/>
</launch>